.logincontent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    .log {
        height: 75px;
        margin-bottom: 20px;
    }

    .phone {
        width: 275px;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #dcdcdc;
        height: 35px;

        .mobile {
            border: none;
            outline: none;
            background: transparent;
            height: 30px;
            font-size: 12px;
            display: inline-block;
            margin-left: 10px;
        }
    }

    .sms {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid #dcdcdc;
        margin-top: 20px;
        width: 275px;
        height: 35px;

        .code {
            border: none;
            outline: none;
            background: transparent;
            height: 30px;
            font-size: 12px;
            display: inline-block;
            margin-left: 10px;
            flex: 1;
        }

        .send {
            color: #fff;
            font-size: 10px;
            text-align: center;
            border-radius: 7.5px;
            width: 100px;
            background: #1186f0;
            margin-bottom: 5px;
        }

        .active {
            background: #c2c2c2;
        }
    }

    .login {
        width: 275px;
        height: 40px;
        color: #fff;
        font-size: 15px;
        background: #1186f0;
        border-radius: 7.5px;
        text-align: center;
        margin-top: 25px;
    }
}

.btn {
    position: fixed;
    bottom: 20px;
}